/*variables*/

$background-principal: #1f2023;
$background-secundario: #27282d;
$background-terciario: #393b43;
$color-principal: #e5f876;
$color-secundario: background-color var(--transition-global), transform var(--transition-global), opacity var(--transition-global), -webkit-transform var(--transition-global);
$color-texto: white;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/*estilos header*/
header {
  background: #ea90ff;
  background: -webkit-gradient(linear, left top, right top, from(#ea90ff), to(#eaff6a));
  background: linear-gradient(to right, #ea90ff 0, #eaff6a 100%);
  color: $background-principal;
  padding: 2rem 2rem 0 2rem;
}

.logo {
  font-weight: 800;
  font-size: 5rem;
  padding: 3rem;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-style: italic;
}

.background-nav {
  background-color: transparent;
}

.dropdown-menu-fondo {
  background-color: $background-secundario;
}
.gradient-font {
  background: #ea90ff;
  background: -webkit-gradient(linear, left top, right top, from(#ea90ff), to(#eaff6a));
  background: linear-gradient(to right, #ea90ff 0, #eaff6a 100%);
  color: $background-principal;
}

/*estilos body*/
main {
  padding: 2 rem;
  background-color: $background-principal;
}

.titulo-principal {
    color: $color-texto;
    padding: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  height: 100%;
}

.producto {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  background-color: $background-secundario;
  border-radius: 10px;
  padding: 2rem;
}

.producto-imagen {
  max-width: 100%;
  height: 80%;
  object-fit: contain;
  margin: 1rem;
}

.producto-marca {
  font-size: medium;
  font-style: italic;
}

#producto-detalle {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.carrito-producto-titulo,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
  width: 10rem;
  margin: 0;
  color: white;
}

.btn-dark {

}